@model DJobA.Models.Category

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/shares/_MainLayout.cshtml";
}


<h3>Are you sure you want to delete this?</h3>
<div>
    
    <hr />
    <center>
        <dl class="dl-horizontal card mb-3 col-md-8 text-secondary text-center " style="background-color:rgba(87, 87, 87, 0.1); font-family:Bahnschrift;
      height:auto; width:auto">
            <dt>
                @Html.DisplayNameFor(model => model.CategoryJob)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CategoryJob)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.JobType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.JobType)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-primary btn-sm" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }

    </center>
</div>
<br />
<br />
<br />