@using hhhhh.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="row">
    
    <div class="col-md-8">
        <div class="card col-md-11 text-secondary" style="background-color:rgba(87, 87, 87, 0.1); font-family:Bahnschrift;
height:auto; width:auto">
            <section id="loginForm">

                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <br />
                    <center>
                        <h4 class="text-center text-secondary">Use local account to log in</h4>
                    </center>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label " })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control text-secondary" })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label " })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control text-secondary" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <center>
                                <input type="submit" value="Log in" class="btn btn btn btn-primary" />
                                <br />   <br />
                                <p>
                                    @Html.ActionLink("Register as a new user", "Register")
                                </p>
                            </center>

                        </div>
                    </div>


                    @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
                }
            </section>
        </div>
    </div>
    <br />
    <br />
    <div class="card mb-3 col-md-4 text-secondary text-center" style="background-color:rgba(87, 87, 87, 0.1); font-family:Bahnschrift;
height:200px">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>

<br />
<br />

