@model hhhhh.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}



@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

<div class="card col-md-11 text-secondary" style="background-color:rgba(87, 87, 87, 0.1); font-family:Bahnschrift;
      height:auto; width:auto">
    <br />
    <center>
        <h4 class="text-center text-secondary">Create a new account.</h4>
    </center>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label  text-secondary" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label  text-secondary" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        </div>
    </div>




    <div class="form-group">
        @Html.LabelFor(m => m.UType, new { @class = "col-md-2 control-label  text-secondary" })
        <div class="col-md-10">
            @Html.DropDownList("UType", null, new { @class = "form-control" })
        </div>
    </div>





    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label  text-secondary" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label  text-secondary" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <center>
                <input type="submit" class="btn btn btn-primary" value="Register" />
            </center>
        </div>
    </div>
</div>
}
<br />
<br />

